---
import Layout from '../layouts/Layout.astro';

//SEO CONFIG PAGE BY PAGE
const pagetitle = "Leos' Roofing & Remodeling - 404 Not Found";
const description = "Learn about our 20+ years of roofing experience.";

---

<Layout title={pagetitle} description={description}>
	<section class="flex-grow container mx-auto text-left px-4 md:px-0 py-10 mt-20 md:mt-40 md:mb-20 content-start">
        <p class="text-white font-thin leading-[1.4] text-medium md:text-4xl md:max-w-[840px]">
            The page you are looking for, does not exist.<br>
            It may have been moved or deleted.<br><br>Please check the URL or return to the <a href="/">homepage</a>. 
		</p>
        
	</section>
</Layout>