<div class="bg-[url(/images/bg-testimonials.webp)] bg-cover bg-center bg-no-repeat px-4 py-10 md:py-20 overflow-hidden">  
    <div class="container mx-auto mh-[335px]">
        <div class="flex gap-4 items-center">
            <img src="/images/icon-house.svg" alt="Home Icon" class="h-auto object-cover" />
            <h2 class="text-primary uppercase font-gothic-demi text-[14px] tracking-wider py-1">
                Testimonials
            </h2>
        </div>
        <h2 class="text-primary font-light text-2xl md:text-4xl mb-10 md:py-2">
            Trusted by Your Neighbors.
        </h2>
        <div class="flex overflow-x-auto snap-x snap-mandatory md:grid md:grid-cols-3 gap-5 font-manrope pb-4 md:overflow-visible md:pb-0">
            <!-- Card 1 -->
            <div class="bg-primary p-10 text-white min-w-full snap-center md:min-w-0">
                <div class="flex justify-left gap-2">
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                </div>
                <span class="font-bold mt-5 text-base md:text-xl flex">Exceptional Craftsmanship</span>
                <span class="text-text-light text-xs">Aliquam in risus lacinia libero in nibh. Euismod amet augue cursus enim massa. Magna consectetur sed amet blandit suspendisse commodo. Nisl ut egestas felis purus nisl mi. Viverra duis blandit ac magna pellentesque sit sagittis. Facilisis nunc risus fringilla purus blandit diam turpis. Ipsum turpis.</span>
                <span class="flex font-light text-base md:text mt-5">Sarah Johnson</span>
            </div>
            
            <!-- Card 2 -->
            <div class="bg-primary p-10 text-white min-w-full snap-center md:min-w-0">
                <div class="flex justify-left gap-2">
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                </div>
                <span class="font-bold mt-5 text-base md:text-xl flex">Exceeding Expectations</span>
                <span class="text-text-light text-xs">Aliquam in risus lacinia libero in nibh. Euismod amet augue cursus enim massa. Magna consectetur sed amet blandit suspendisse commodo. Nisl ut egestas felis purus nisl mi. Viverra duis blandit ac magna pellentesque sit sagittis. Facilisis nunc risus fringilla purus blandit diam turpis. Ipsum turpis.</span>
                <span class="flex font-light text-base md:text mt-5">Mary Rolandini</span>
            </div>
            
            <!-- Card 3 -->
            <div class="bg-primary p-10 text-white min-w-full snap-center md:min-w-0">
                <div class="flex justify-left gap-2">
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                    <svg class="star-icon w-5 h-5 fill-light-blue" viewBox="0 0 24 24">
                        <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
                    </svg>
                </div>
                <span class="font-bold mt-5 text-base md:text-xl flex">Transformative Results</span>
                <span class="text-text-light text-xs">Aliquam in risus lacinia libero in nibh. Euismod amet augue cursus enim massa. Magna consectetur sed amet blandit suspendisse commodo. Nisl ut egestas felis purus nisl mi. Viverra duis blandit ac magna pellentesque sit sagittis. Facilisis nunc risus fringilla purus blandit diam turpis. Ipsum turpis.</span>
                <span class="flex font-light text-base md:text-lg mt-5">Sarah Johnson</span>
            </div>
        </div>
    </div>
</div>