---
import { PHONE_NUMBER } from '../utils/constants';
---
<a href={`tel:${PHONE_NUMBER}`} class="block text-white hover:text-primary bg-accent hover:bg-white transition-colors duration-300 ease-in-out overflow-hidden px-4">
    <div class="container mx-auto min-h-[190px] md:h-[140px] flex justify-between items-center">
        <div class="flex-grow pr-4">
            <h2 class="font-bold text-lg md:text-4xl mb-2">
                Have an Emergency? <br class="md:hidden">We're Here to Help!
            </h2>
            <span class="font-light md:text-medium">
                Need urgent roofing repairs? Contact us now for a FREE roof inspection or call <br class="md:hidden">{PHONE_NUMBER} for immediate assistance!
            </span>
        </div>
        <div class="flex-shrink-0">
            <svg class="h-[20px] md:h-[35px]" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 31V0L35 15.4967" fill="currentColor"/>
            </svg>
        </div>
	</div>
</a>