---
// src/components/Footer.astro
import MapComponent from './map.jsx';
import { PHONE_NUMBER } from '../utils/constants';

---

<footer id="footer" class="bg-primary text-white">
    <div class="container mx-auto content-center min-h-[185px] py-10 px-4 md:px-0">
        <h2 class="font-light leading-[1.3] text-medium md:text-4xl">Proudly Serving Summit County<br class="md:hidden">—and Beyond</h2>
        <div class="font-thin md:text-medium md:w-3/4 leading-relaxed mt-3 md:pt-1">From Breckenridge to Eagle and beyond, our Summit County roots run deep—and our trusted service continues to grow across the region.</div>
    </div>
    <div class="h-[350px]">
        <MapComponent latitude={39.59} longitude={-106.04296} zoom={11} client:only="react" />
    </div>

    <!-- Desktop -->
    <div class="hidden md:flex flex-row
                container mx-auto h-auto 
                py-15 px-4 
                gap-10 text-xs md:text-base">

            <div class="w-full md:w-1/3">
                <img src="/images/logo.svg" alt="Leo's Roofing & Remodeling Logo" class="md:w-auto md:h-auto h-[55px] max-w-full" />
            </div>

            <div class="w-full md:w-[calc(70%*2/8)]">
                <h3 class="text-xs md:text-lg font-bold uppercase text-background">Contact Us:</h3>
                <p class="text-white mb-2"><a href={`tel:${PHONE_NUMBER}`}>{PHONE_NUMBER}</a></p>
                <h3 class="text-xs md:text-lg font-bold mt-10 uppercase text-background">Find Us:</h3>
                <p class="text-white mb-2">Dolorsit amet 345,</p>
                <p class="text-white mb-4">Summit County, CO</p>
                <h3 class="text-xs md:text-lg font-bold mt-10 uppercase text-background">Email Us:</h3>
                <p class="text-white"><a href="mailto:sales@leosroofing.com">sales@leosroofing.com</a></p>
            </div>

            <div class="w-full md:w-[calc(70%*2/8)]">
                <h3 class="text-xs md:text-lg font-bold uppercase text-background">Locations:</h3>
                <ul class="space-y-1 pl-3 text-white">
                    <li><span class="mr-2">&bull;</span>Summit County</li>
                    <li><span class="mr-2">&bull;</span>Frisco</li>
                    <li><span class="mr-2">&bull;</span>Silverthorne</li>
                    <li><span class="mr-2">&bull;</span>Dillon</li>
                    <li><span class="mr-2">&bull;</span>Breckenridge</li>
                    <li><span class="mr-2">&bull;</span>Keystone</li>
                    <li><span class="mr-2">&bull;</span>Blue River</li>
                    <li><span class="mr-2">&bull;</span>Copper Mountain</li>
                </ul>
            </div>

            <div class="w-full md:w-[calc(70%*2/8)]">
                <h3 class="text-xs md:text-lg font-bold uppercase text-background">Services:</h3>
                <ul class="space-y-2 text-white pl-3">
                    <li><a href="/services?category=Roofing%20Services"><span class="mr-2">&bull;</span>Roofing Services</a></li>
                    <li><a href="/services?category=Remodeling%20Services"><span class="mr-2">&bull;</span>Remodeling Services</a></li>
                </ul>
            </div>
    </div>

    <!-- Mobile -->
   <div class="rounded-lg shadow-lg px-4 py-10 w-full max-w-4xl md:hidden">
        <div class="flex flex-col md:flex-row items-center md:items-start justify-between mb-8">
            <div class="mb-4 md:mb-0 md:mr-8">
                <div class="w-full h-auto flex items-center justify-center">
                     <img src="/images/logo.svg" alt="Leo's Roofing & Remodeling Logo" class="md:w-auto md:h-auto h-[55px] max-w-full" />
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 text-xs text-light-gray gap-8 mb-8">
            <div>
                <div class="mb-6">
                    <h3 class="font-semibold text-background mb-2">CONTACT US:</h3>
                    <p><a href={`tel:${PHONE_NUMBER}`}>{PHONE_NUMBER}</a></p>
                </div>
                <div class="mb-6">
                    <h3 class="font-semibold text-background mb-2">FIND US:</h3>
                    <p>Dolorsit amet 345,</p>
                    <p>Summit County, CO</p>
                </div>
                <div>
                    <h3 class="font-semibold text-background mb-2">EMAIL US:</h3>
                    <p><a href="mailto:sales@leosroofing.com">sales@leosroofing.com</a></p>
                </div>
            </div>

            <div>
                <h3 class="font-semibold text-background mb-2">LOCATIONS:</h3>
                <ul class="list-disc list-inside space-y-1">
                    <li>Summit County</li>
                    <li>Frisco</li>
                    <li>Silverthorne</li>
                    <li>Dillon</li>
                    <li>Breckenridge</li>
                    <li>Keystone</li>
                    <li>Blue River</li>
                    <li>Copper Mountain</li>
                </ul>
            </div>
        </div>

        <div class="mt-8 text-xs text-light-gray">
            <h3 class="font-semibold text-background mb-4">SERVICES:</h3>
            <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
                <div>
                    <ul class="list-disc list-inside">
                        <li><a href="/services?category=Roofing%20Services">Roofing Services</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="list-disc list-inside">
                        <li><a href="/services?category=Remodeling%20Services">Remodeling Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>