<a href="#" class="block text-primary md:text-gray hover:text-primary bg-light-blue hover:bg-white transition-colors duration-300 ease-in-out overflow-hidden px-4 py-12">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex-grow pr-8">
            <h2 class="font-bold text-lg md:text-4xl">
                We Make Insurance Claims Easy
            </h2>
            <span class="font-light md:text-medium block pt-3 leading-relaxed ">
                Dealing with storm damage? Leo’s Roofing and Remodeling is here to help. We’ll inspect the damage, guide you through the insurance process, and work directly with your adjuster–making it as smooth and stress-free as possible.
            </span>
            <span class="font-bold md:text-medium">
                Call xxx-xxx-xxxx to schedule your inspection today.
            </span>
        </div>
        <div class="flex-shrink-0">
            <svg class="h-[20px] md:h-[35px]" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 31V0L35 15.4967" fill="currentColor"/>
            </svg>
        </div>
	</div>
</a>